@font-face {
    font-family: 'Bedel';
    src: local('Bedel Basic Alt'), local('Bedel-Basic-Alt'),
        url('../fonts/BedelAlternate-BasicAlt.woff2') format('woff2'),
        url('../fonts/BedelAlternate-BasicAlt.woff') format('woff'),
        url('../fonts/BedelAlternate-BasicAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Bedel';
}
a{
	color: #9999FF;
	text-decoration: none;
	-webkit-transition: color 0.2s;
}
a:visited{
	color: #9999FF;
}
a:hover{
	transition: 0.2s;
	color: #663399;
}
.content{
	display: flex;
	justify-content: space-around;
	margin: auto;
	font-size: 30px;
}
.login{
	padding: 50px 0;
}
.login a{
	font-size: 30px;
	text-decoration: none;
	color: #330033;
	padding: 0 10px;
	-webkit-transition: color 0.2s;
}
.login a:hover{
	color: #663399;
	transition: 0.2s;
}
.header{
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: #9999FF;
	padding: 25px 0;
	text-transform: uppercase;
	color: #330033;
}
.logo{
	height: 150px;
	text-align: center;
}
.logo img{
	height: 100%;
}
.content-container{
	width: 85%;
	margin: auto;
	min-height: 800px;
}
.separator{
	height: 1px;
	background-color: #9999FF;
}
.title{
	font-size: 56px;
	color: #330033;
	text-align: center;
	margin: 30px 0;
}
.tg{
	border-collapse: collapse;
	border-spacing: 0;
	margin: 50px 50px 50px 100px;
}
.tg td{
	font-size: 30px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: black;
	height: 135px;
}
.tg tr:nth-child(2n-1){
	background-color: #99FF99;
}
.tg th{
	font-size: 30px;
	font-weight: normal;
	padding: 20px 30px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: black;
	background-color: #9999FF;
	color: #330033;
}
.tg .tg-cly1{
	text-align:left;
	vertical-align:middle
}
.tg .tg-0lax{
	text-align:left;
	vertical-align:top
}
.footer{
	background-color: #9999FF;
	height: 100px;
	color: #330033;
	font-size: 25px;
	padding: 35px;
}
.b-popup{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top: 100px;
    left: 0;
}
.b-popup .b-popup-content{
    margin: 0 auto;
    width: 40%;
    height: 400px;
    padding:10px;
    background-color: #fff;
    border: 3px dashed #330033;
    font-size: 28px;
    box-shadow: 0px 5px 10px #000;
}
.b-popup-content h2{
	text-align: center;
	padding: 0 0 0 15px;
}
.login-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 30px;
	margin: 0 2%;
}
.b-popup-content div{
	text-align: right;
}
.login-form input, .login-form button{
	width: 50%;
	font-size: 28px;
	padding: 5px 10px;
	margin: 0 0 15px 0;
}
.login-form button{
	margin: 30px 0;
}
.close{
	margin: 10px;
}
.form-holder{
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}
.register-form, .form-holder div{
	display: flex;
	flex-direction: column;
	width: 40%;
	font-size: 30px;
	margin: 0 5%;
}
.register-form input, .register-form select, .register-form button{
	font-size: 28px;
	padding: 5px 10px;
	margin: 10px 0;
}
.register-form label{
	text-align: left;
}
.register-form button, .login-form button{
	width: 40%;
	border-style: none;
	border-radius: 10px;
	background-color: #9999FF;
	margin: auto;
	-webkit-transition: background-color 0.2s;
}
.register-form button, .login-form button:hover{
	transition: 0.2s;
	background-color: #7777FF;
}
.desc input{
	display: inline-block;
	width: 30px;
	height: 30px;
}
.error-msg{
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 24px;
	top: 0;
	left: 0;
	background-color: red;
}
.success-msg{
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 24px;
	top: 0;
	left: 0;
	background-color: green;
}
.guidelines h2{
	margin: 10px 5px;
	font-size: 28px;
}
.guidelines{
	font-size: 20px;
}
#profile-button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 10px 10px 10px 0;
}
.full-container{
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}
.photo-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-position: center;
	background-size: cover;
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	margin: 0 auto;
}
.desc{
	width: 40%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.upload-form{
	font-size: 28px;
	display: block;
	text-align: center;
	margin: 20px 0;
}
.upload-button{
	width: 60%;
	border-style: none;
	border-radius: 10px;
	background-color: #9999FF;
	text-align: center;
	margin: 20px 0;
	font-size: 28px;
	padding: 5px 10px;
	-webkit-transition: background-color 0.2s;
}
.upload-button:hover{
	transition: 0.2s;
	background-color: #7777FF;
}
#fileToUpload{
	font-size: 18px;
}
.delete-form {
	margin: 30px 0 0 0 !important; 
}
.delete-button-td{
	padding: 10px 20px;
	font-size: 28px;
	margin: 10px;
	border: none;
	border-radius: 10px;
	background-color: #9999FF;
	color: #3333FF;
	-webkit-transition: background-color 0.2s;
}
.delete-button-td:hover{
	transition: 0.2s;
	background-color: #7777FF;
}